root = true

# All files
[*]
indent_style = space
indent_size = 2
charset = utf-8-bom
trim_trailing_whitespace = true                                                                                                           vcbfN453R6*--