<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Copy of C++ Core Check Bounds Rules" Description="These rules enforce the Bounds profile of the C++ Core Guidelines (https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md#probounds-bounds-safety-profile)." ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26100" Action="Warning" />
    <Rule Id="C26101" Action="Warning" />
    <Rule Id="C26102" Action="Warning" />
    <Rule Id="C26105" Action="Warning" />
    <Rule Id="C26106" Action="Warning" />
    <Rule Id="C26430" Action="Warning" />
    <Rule Id="C26437" Action="Warning" />
    <Rule Id="C26444" Action="Warning" />
    <Rule Id="C26446" Action="Warning" />
    <Rule Id="C26447" Action="Warning" />
    <Rule Id="C26450" Action="Warning" />
    <Rule Id="C26451" Action="Warning" />
    <Rule Id="C26452" Action="Warning" />
    <Rule Id="C26453" Action="Warning" />
    <Rule Id="C26454" Action="Warning" />
    <Rule Id="C26459" Action="Warning" />
    <Rule Id="C26477" Action="Warning" />
    <Rule Id="C26481" Action="Warning" />
    <Rule Id="C26482" Action="Warning" />
    <Rule Id="C26483" Action="Warning" />
    <Rule Id="C26485" Action="Warning" />
    <Rule Id="C26488" Action="Warning" />
    <Rule Id="C26489" Action="Warning" />
    <Rule Id="C26815" Action="Warning" />
    <Rule Id="C26816" Action="Warning" />
    <Rule Id="C26817" Action="Warning" />
    <Rule Id="C26820" Action="Warning" />
    <Rule Id="C28020" Action="Warning" />
    <Rule Id="C28103" Action="Warning" />
    <Rule Id="C28106" Action="Warning" />
    <Rule Id="C28197" Action="Warning" />
    <Rule Id="C28198" Action="Warning" />
    <Rule Id="C28601" Action="Warning" />
    <Rule Id="C28602" Action="Warning" />
    <Rule Id="C28604" Action="Warning" />
    <Rule Id="C28615" Action="Warning" />
    <Rule Id="C28616" Action="Warning" />
    <Rule Id="C28617" Action="Warning" />
    <Rule Id="C28623" Action="Warning" />
    <Rule Id="C28636" Action="Warning" />
    <Rule Id="C28637" Action="Warning" />
    <Rule Id="C28638" Action="Warning" />
    <Rule Id="C28639" Action="Warning" />
    <Rule Id="C28649" Action="Warning" />
    <Rule Id="C28719" Action="Warning" />
    <Rule Id="C28720" Action="Warning" />
    <Rule Id="C28721" Action="Warning" />
    <Rule Id="C28726" Action="Warning" />
    <Rule Id="C28727" Action="Warning" />
    <Rule Id="C28730" Action="Warning" />
    <Rule Id="C28736" Action="Warning" />
    <Rule Id="C28750" Action="Warning" />
    <Rule Id="C28751" Action="Warning" />
    <Rule Id="C33010" Action="Warning" />
    <Rule Id="C33011" Action="Warning" />
    <Rule Id="C33020" Action="Warning" />
    <Rule Id="C6001" Action="Warning" />
    <Rule Id="C6011" Action="Warning" />
    <Rule Id="C6014" Action="Warning" />
    <Rule Id="C6029" Action="Warning" />
    <Rule Id="C6059" Action="Warning" />
    <Rule Id="C6063" Action="Warning" />
    <Rule Id="C6064" Action="Warning" />
    <Rule Id="C6066" Action="Warning" />
    <Rule Id="C6067" Action="Warning" />
    <Rule Id="C6101" Action="Warning" />
    <Rule Id="C6200" Action="Warning" />
    <Rule Id="C6201" Action="Warning" />
    <Rule Id="C6211" Action="Warning" />
    <Rule Id="C6214" Action="Warning" />
    <Rule Id="C6215" Action="Warning" />
    <Rule Id="C6237" Action="Warning" />
    <Rule Id="C6239" Action="Warning" />
    <Rule Id="C6244" Action="Warning" />
    <Rule Id="C6246" Action="Warning" />
    <Rule Id="C6248" Action="Warning" />
    <Rule Id="C6262" Action="Warning" />
    <Rule Id="C6263" Action="Warning" />
    <Rule Id="C6268" Action="Warning" />
    <Rule Id="C6269" Action="Warning" />
    <Rule Id="C6270" Action="Warning" />
    <Rule Id="C6271" Action="Warning" />
    <Rule Id="C6276" Action="Warning" />
    <Rule Id="C6280" Action="Warning" />
    <Rule Id="C6295" Action="Warning" />
    <Rule Id="C6297" Action="Warning" />
    <Rule Id="C6298" Action="Warning" />
    <Rule Id="C6299" Action="Warning" />
    <Rule Id="C6302" Action="Warning" />
    <Rule Id="C6303" Action="Warning" />
    <Rule Id="C6305" Action="Warning" />
    <Rule Id="C6306" Action="Warning" />
    <Rule Id="C6308" Action="Warning" />
    <Rule Id="C6316" Action="Warning" />
    <Rule Id="C6318" Action="Warning" />
    <Rule Id="C6319" Action="Warning" />
    <Rule Id="C6324" Action="Warning" />
    <Rule Id="C6328" Action="Warning" />
    <Rule Id="C6329" Action="Warning" />
    <Rule Id="C6330" Action="Warning" />
    <Rule Id="C6334" Action="Warning" />
    <Rule Id="C6385" Action="Warning" />
    <Rule Id="C6386" Action="Warning" />
    <Rule Id="C6387" Action="Warning" />
    <Rule Id="C6388" Action="Warning" />
    <Rule Id="C6400" Action="Warning" />
    <Rule Id="C6401" Action="Warning" />
    <Rule Id="C6411" Action="Warning" />
    <Rule Id="C6412" Action="Warning" />
    <Rule Id="C6503" Action="Warning" />
    <Rule Id="C6504" Action="Warning" />
    <Rule Id="C6510" Action="Warning" />
    <Rule Id="C6514" Action="Warning" />
    <Rule Id="C6515" Action="Warning" />
    <Rule Id="C6518" Action="Warning" />
    <Rule Id="C6522" Action="Warning" />
    <Rule Id="C6525" Action="Warning" />
    <Rule Id="C6530" Action="Warning" />
    <Rule Id="C6551" Action="Warning" />
    <Rule Id="C6702" Action="Warning" />
    <Rule Id="C6703" Action="Warning" />
  </Rules>
</RuleSet>